<form class="form-inline">
    <div class="form-group">
      {{input type="text" value=save.name class="form-control" placeholder="Category name"}}
    </div>
    <button type="submit" class="btn btn-outline-success {{btn}}" disabled={{save.isValid}}
      {{action 'saveCategory' save category}}>{{fa-icon "floppy-o"}} Save
    </button>
    <button type="submit" class="btn btn-outline-danger {{btn}}"
      {{action 'discardSaveCategory' save mainCategory}}>
      {{fa-icon "times-circle-o"}} Discard
    </button>
</form>