<ul class="list-group expenses list-group-flush collapse" id="{{category.id}}">
    <li class="list-group-item">
        <div class="btn-group btn-group-justified" role="group">
            <button class="btn btn-outline-secondary btn-sm" {{action 'isClickedAddMoney' category}}>{{fa-icon
              "money"}}</button>

          {{#if category.parent}}
          {{else}}
            <button class="btn btn-outline-secondary btn-sm" {{action 'isClickedSubCategory' category}}>{{fa-icon
              "plus"}}</button>
          {{/if}}

            <button class="btn btn-outline-secondary btn-sm" {{action 'isClickedUpdate' category}}>{{fa-icon
              "pencil"}}</button>

            <button type="button" class="btn btn-outline-danger btn-sm" role="button" {{action 'deleteCategory' category}}>
                {{fa-icon "trash"}}
            </button>
        </div>
    </li>

  {{#if category.isClickUpdate}}
      <li class="list-group-item" style="padding: 0">
        {{category-create-form save=category discardSaveCategory='discardSaveCategory' saveCategory='saveCategory' btn='btn-sm'}}
      </li>
  {{/if}}

  {{#if category.saveSub.addSubClicked}}
  <li class="list-group-item" style="padding: 0">
      {{category-create-form save=category.saveSub category=category mainCategory=false
      discardSaveCategory='discardSaveCategory' saveCategory='saveCategory'
      btn='btn-sm'}}
  </li>
  {{/if}}

  {{#if category.saveMoney.addMoneyClicked}}
      <li class="list-group-item" style="padding: 0">
        {{add-money category=category money=category.saveMoney cancelAddMoney='cancelAddMoney' saveMoney='saveMoney'}}
      </li>
  {{/if}}

  {{#each category.expenses as |expense|}}
    {{#if expense.isEditing}}
        <form {{action 'saveExpense' expense on='submit'}} class="form-inline">
            <div class="input-group">
              {{input value=expense.money type="number" class='form-control'}}
              {{input value=expense.description type="text" class='form-control'}}
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-outline-success btn-circle btn-block">{{fa-icon "check"}}</button>
                    <button class="btn btn-outline-danger btn-circle btn-block" {{action 'cancelExpenseEdit'
                                                                                  expense}}>{{fa-icon
                      "ban"}}</button>
                </div>
            </div>
        </form>
    {{else}}
        <li class="list-group-item">
            <dl>
                <dt>{{expense.money}}
                    <button type="button" class="btn btn-outline-info btn-sm btn-circle pull-right"
                                              role="button" {{action
                  'expenseEdit'
                  expense}}>
                  {{fa-icon "pencil"}}
                </button>
                </dt>
                <dd>{{expense.description}} <button type="button" class="btn btn-outline-danger btn-sm btn-circle pull-right"
                                                    role="button" {{action
                  'deleteExpense'
                  expense}}>
                  {{fa-icon "trash"}}
                </button>
                </dd>
            </dl>
        </li>
    {{/if}}

  {{/each}}
</ul>