{{#each row as |category|}}
    {{#if category.isNew}}
    {{else}}
        <div class="card card-outline-success">
            <div class="card-header" {{action 'headerClick' category}} data-toggle="collapse" data-target="#{{category
            .id}}">
                <h5 class="card-title">

                    {{#if category.headerClicked}}
                      {{fa-icon "folder-open"}}
                      {{else}}
                      {{fa-icon "folder"}}
                    {{/if}}

                  {{category.name}}
                    <span class="tag tag-danger tag-pill pull-xs-right">
                      {{category.selfExpensesAmountsSum}}
                    </span>
                </h5>
            </div>

            <!-- expenses -->
          {{list-expenses category=category saveSub=saveSub discardSaveCategory='discardSaveCategory' deleteCategory='deleteCategory'
                          deleteExpense='deleteExpense' saveCategory='saveCategory'
                          isClickedAddMoney='isClickedAddMoney' cancelAddMoney='cancelAddMoney' saveMoney='saveMoney'
                          expenseEdit='expenseEdit'
                          saveExpense='saveExpense' cancelExpenseEdit='cancelExpenseEdit' isClickedSubCategory='isClickedSubCategory'}}
            <!-- expenses end-->

            <!-- subCategories -->
            <ul class="list-group list-group-flush">
              {{#each category.children as |child|}}
                  <li class="list-group-item parent" data-toggle="collapse" data-target="#{{child.id}}">
                    {{child.name}}
                      <span class="tag tag-danger tag-pill pull-xs-right">
                        {{category.subCategoriesAmountsSum}}
                      </span>
                  </li>
                {{list-expenses category=child deleteCategory='deleteCategory' deleteExpense='deleteExpense' expenseEdit='expenseEdit'
                                saveExpense='saveExpense' cancelExpenseEdit='cancelExpenseEdit' isClickedAddMoney='isClickedAddMoney' cancelAddMoney='cancelAddMoney' saveMoney='saveMoney'}}
              {{/each}}
            </ul>
            <!-- subCategories end-->

            <div class="card-footer text-sm-center">
              {{#if children}}
              {{else}}
                  <h6 style="margin-bottom: 0">Total money: {{category.amount}}</h6>
              {{/if}}
            </div>
        </div>
    {{/if}}


{{/each}}
